export(bevholt)
export(bevholt2)
export(Eqplot)
export(EqSim)
export(fitModels)
export(fitModelsBuck)
export(fitModelsSimmonds)
export(llik)
export(LLmodplot)
export(LLplot)
export(loader)
export(MH)
export(paste0)
export(ricker)
export(scaleProposal)
export(segreg)
export(segreg2)
export(SRplot)
import(MASS)
