export(EqSim)
export(Eqplot)
export(LLmodplot)
export(LLplot)
export(MH)
export(SRplot)
export(bevholt)
export(bevholt2)
export(bootscam)
export(calc.quantiles)
export(convertDat)
export(convertSumSen)
export(do.ggplot)
export(eqsim_ggplot)
export(eqsim_plot)
export(eqsim_run)
export(eqsr_Buckland)
export(eqsr_fit)
export(eqsr_plot)
export(fitModels)
export(fitModelsBuck)
export(fitModelsSimmonds)
export(fls2rby)
export(llik)
export(loader)
export(mydf)
export(mygcv)
export(plotMSY)
export(read.Lowestoft)
export(read.Stockfile)
export(ricker)
export(scaleProposal)
export(segreg)
export(segreg2)
export(srmsymc_compile)
export(srmsymc_read)
export(srmsymc_read_par)
export(srmsymc_read_ssb)
export(srmsymc_read_ssbpr)
export(srmsymc_read_yield)
export(srmsymc_read_ypr)
export(srmsymc_run)
import(MASS)
import(mgcv)
import(scam)
