export(EqSim)
export(Eqplot)
export(LLmodplot)
export(LLplot)
export(MH)
export(SRplot)
export(bevholt)
export(bevholt2)
export(bootscam)
export(convertDat)
export(convertSumSen)
export(eqsim_plot)
export(eqsr_plot)
export(fitModels)
export(fitModelsBuck)
export(fitModelsSimmonds)
export(llik)
export(loader)
export(mydf)
export(mygcv)
export(plotMSY)
export(read.Lowestoft)
export(read.Stockfile)
export(ricker)
export(scaleProposal)
export(segreg)
export(segreg2)
import(MASS)
import(mgcv)
import(scam)
